@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: pink;
  background-position: center;
}

.label-text{
  color: black;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px,0,0);
  }
  20%,
  80% {
    transform: translate3d(2px,0,0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px,0,0);
  }
  40%,
  60% {
    transform: translate3d(4px,0,0);
  }
  
}
